.vscode/
bin/
build/
R/cdm/src/Makevars
R/cdm/src/*.o
R/cdm/src/*.so
R/cdm/src/*.dll
R/cdm/src/*.dylib
.DS_Store
sensitivity/
sensitivity/vertical-profile-spec.qmd
sensitivity/sensitivity-analysis.pdf
__pycache__/
scripts/batch_sweep/results/
scripts/batch_sweep/samplespace.csv
docs/SETAC_poster_files/
docs/SETAC_poster.html
docs/manuscript_errata.html
docs/manuscript_errata_files/
docs/manuscript_model_description.html
docs/manuscript_model_description_files/
